<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learningman.nagnae.authorization.repository.UserRepository">


	
    
    <select id="findByUserLogin" parameterType="UserDto" resultType="User">
        SELECT * FROM TUSER WHERE EMAIL = #{email} and PASSWORD = #{password}
    </select>
    
    <select id="SignUp" parameterType="UserDto">
        INSERT INTO TUSER (USER_NO, USER_NAME, GRADE, EMAIL, PASSWORD, NATIONLITY, USER_HP, INSERT_DATE, MODIFY_DATE)
		VALUES (null, #{username}, '일반', #{email}, #{password}, #{nationlity}, #{userhp}, NOW(), NOW())
    </select>


</mapper>