<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learningman.nagnae.board.repository.BoardMapper">
	
    <insert id="freeWrite" parameterType="BoardDto">
		insert into tboard
		values(null, #{categoryno}, #{title} , #{content} , #{summary}, #{views} , #{insertuserno} , now() , #{modifyuserno}, now() );
    </insert>
    
    <select id="freeList" parameterType="map" resultType="BoardListDto">
		SELECT tb.BOARD_NO, tb.TITLE, tb.INSERT_DATE, tb.VIEWS, tu.USER_NAME
        FROM tboard tb
        JOIN tuser tu ON tb.INSERT_USER_NO = tu.USER_NO
        WHERE tb.CATEGORY_NO = #{categoryNo}
        AND (#{search} IS NULL OR tb.TITLE LIKE CONCAT('%', #{search}, '%'))
        ORDER BY tb.BOARD_NO DESC
        LIMIT #{size} OFFSET #{offset}
	</select>
	
	<select id="countPosts" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM tboard tb
        JOIN tuser tu ON tb.INSERT_USER_NO = tu.USER_NO
        WHERE tb.CATEGORY_NO = #{categoryNo}
        AND (#{search} IS NULL OR tb.TITLE LIKE CONCAT('%', #{search}, '%'))
    </select>
    
    <insert id="insertFile" parameterType="FileDto" useGeneratedKeys="true" keyProperty="fileNo">
      INSERT INTO TFILE (CATEGORY_NO, FILE_ORIGIN_NAME, FILE_SAVE_NAME, FILE_PATH, INSERT_DATE, MODIFY_DATE)
      VALUES (#{categoryNo}, #{fileOriginName}, #{fileSaveName}, #{filePath}, NOW(), NOW())
    </insert>
    
    <select id="selectBoardread" resultType="BoardReadDto">
        SELECT tb.CONTENT,
			   tb.TITLE,
		       tb.VIEWS,
		       tb.INSERT_DATE,
		       tu.USER_NAME,
		       tu.NATIONLITY
		FROM tboard tb,tuser tu
		WHERE tb.INSERT_USER_NO = tu.USER_NO
		AND BOARD_NO = #{boardno}
    </select>
    
    <insert id="insertComment" parameterType="CommentDto" keyProperty="commentno" useGeneratedKeys="true">
	    INSERT INTO tcomment
	    (CONTENT, INSERT_USER_NO, INSERT_DATE, MODIFY_USER_NO, MODIFY_DATE)
	    VALUES (#{content}, #{commenterno}, now(), #{commenterno}, now());
	</insert>
	
	<insert id="insertBoardComment" parameterType="CommentDto">
	    INSERT INTO tboardcomment
	    (BOARD_NO, COMMENT_NO, INSERT_USER_NO, INSERT_DATE, MODIFY_USER_NO, MODIFY_DATE)
	    VALUES (#{boardno}, #{commentno}, #{commenterno}, now(), #{commenterno}, now());
	</insert>
	
	<select id="getCommentById" parameterType="Long" resultType="CommentDto">
	    SELECT * FROM tcomment WHERE COMMENT_NO = #{commentno}
	</select>
    
</mapper>