<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learningman.nagnae.board.repository.BoardMapper">
	
    <insert id="freeWrite" parameterType="BoardDto" useGeneratedKeys="true" keyProperty="boardno">
        INSERT INTO TBOARD (CATEGORY_NO, TITLE, CONTENT, SUMMARY, VIEWS, INSERT_USER_NO, INSERT_DATE, MODIFY_USER_NO, MODIFY_DATE)
        VALUES (#{categoryno}, #{title}, #{content}, #{summary}, #{views}, #{insertuserno}, NOW(), #{modifyuserno}, NOW())
    </insert>
    
	<insert id="insertBoardFile" parameterType="BoardFileDto">
	    INSERT INTO TBOARDFILE (BOARD_NO, FILE_NO, INSERT_USER_NO, INSERT_DATE, MODIFY_USER_NO, MODIFY_DATE)
	    VALUES (#{boardNo}, #{fileNo}, #{insertUserNo}, NOW(), #{modifyUserNo}, NOW())
	</insert>
    
	<insert id="insertFile" parameterType="FileDto" useGeneratedKeys="true" keyProperty="fileNo">
	    INSERT INTO TFILE (CATEGORY_NO, CATEGORY_SUB_NO, FILE_ORIGIN_NAME, FILE_SAVE_NAME, FILE_PATH, DESCRIPTION, INSERT_USER_NO, INSERT_DATE, MODIFY_USER_NO, MODIFY_DATE)
	    VALUES (#{categoryNo}, null, #{fileOriginName}, #{fileSaveName}, #{filePath}, null, #{insertUserNo}, NOW(), #{modifyUserNo}, NOW())
	</insert>
	
	<select id="getFileByFileName" parameterType="string" resultType="FileDto">
	    SELECT * FROM TFILE WHERE FILE_SAVE_NAME = #{fileName}
	</select>
    
    <select id="freeList" parameterType="map" resultType="BoardListDto">
		SELECT tb.BOARD_NO, tb.TITLE, tb.INSERT_DATE, tb.VIEWS, tu.USER_NAME
        FROM TBOARD tb
        LEFT JOIN TUSER tu ON tb.INSERT_USER_NO = tu.USER_NO
        WHERE tb.CATEGORY_NO = #{categoryno}
        AND (#{search} IS NULL OR tb.TITLE LIKE CONCAT('%', #{search}, '%'))
        ORDER BY tb.BOARD_NO DESC
        LIMIT #{size} OFFSET #{offset}
	</select>
	
	<select id="countPosts" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM TBOARD tb
        LEFT JOIN TUSER tu ON tb.INSERT_USER_NO = tu.USER_NO
        WHERE tb.CATEGORY_NO = #{categoryno}
        AND (#{search} IS NULL OR tb.TITLE LIKE CONCAT('%', #{search}, '%'))
    </select>
    
    <select id="selectBoardread" resultType="BoardReadDto">
        SELECT tb.CONTENT,
			   tb.TITLE,
		       tb.VIEWS,
		       tb.MODIFY_DATE,
		       tu.USER_NAME,
		       tu.NATIONLITY,
		       tb.INSERT_USER_NO,
		       tb.SUMMARY
		FROM TBOARD tb,TUSER tu
		WHERE tb.INSERT_USER_NO = tu.USER_NO
		AND BOARD_NO = #{boardno}
    </select>
    
    <insert id="insertComment" parameterType="CommentDto" keyProperty="commentno" useGeneratedKeys="true">
	    INSERT INTO TCOMMENT
	    (CONTENT, INSERT_USER_NO, INSERT_DATE, MODIFY_USER_NO, MODIFY_DATE)
	    VALUES (#{content}, #{commenterno}, now(), #{commenterno}, now());
	</insert>
	
	<insert id="insertBoardComment" parameterType="CommentDto">
	    INSERT INTO TBOARDCOMMENT
	    (BOARD_NO, COMMENT_NO, INSERT_USER_NO, INSERT_DATE, MODIFY_USER_NO, MODIFY_DATE)
	    VALUES (#{boardno}, #{commentno}, #{commenterno}, now(), #{commenterno}, now());
	</insert>
	
	<select id="getCommentById" parameterType="Long" resultType="CommentDto">
	    SELECT * FROM TCOMMENT WHERE COMMENT_NO = #{commentno}
	</select>
    
    <select id="boardcommentlist" parameterType="Long" resultType="CommentDto">
	    SELECT tu.USER_NAME,
		       tc.CONTENT,
		       tf.FILE_SAVE_NAME,
		       tc.COMMENT_NO
		FROM TBOARDCOMMENT tbc
		JOIN TUSER tu ON tbc.INSERT_USER_NO = tu.USER_NO
		JOIN TCOMMENT tc ON tbc.COMMENT_NO = tc.COMMENT_NO
		LEFT JOIN TFILE tf ON tu.File_NO = tf.File_NO
		WHERE tbc.BOARD_NO = #{boardno}
	</select>
	
	 <update id="boardupdate"  parameterType="BoardDto">
		update TBOARD
		set TITLE = #{title},
		     CONTENT = #{content},
		     SUMMARY = null
		     MODIFY_DATE = now()
		where BOARD_NO = #{boardno}
	</update>
    
    <select id="getFileByBoardNo" parameterType="Long" resultType="Integer">
	    SELECT FILE_NO FROM TBOARDFILE WHERE BOARD_NO = #{boardno}
	</select>
	
	<delete id="deleteBoardFile" parameterType="Long">
	    DELETE FROM TBOARDFILE WHERE BOARD_NO = #{boardno}
	</delete>
	
	<delete id="deleteFile" parameterType="int">
	    DELETE FROM TFILE WHERE FILE_NO = #{fileNo}
	</delete>
	
	<select id="getCommentIdsByBoardNo" parameterType="Long" resultType="Integer">
	    SELECT COMMENT_NO FROM TBOARDCOMMENT WHERE BOARD_NO = #{boardno}
	</select>
	
	<delete id="deleteBoardComments" parameterType="Long">
	    DELETE FROM TBOARDCOMMENT WHERE BOARD_NO = #{boardno}
	</delete>
	
	<delete id="deleteComment" parameterType="int">
	    DELETE FROM TCOMMENT WHERE COMMENT_NO = #{commentNo}
	</delete>
	
	<delete id="deleteBoard" parameterType="Long">
	    DELETE FROM TBOARD WHERE BOARD_NO = #{boardno}
	</delete>
    
    <update id="boardviewup" parameterType="BoardDto">
		update TBOARD
		set VIEWS = VIEWS+1
		where BOARD_NO = #{boardno};
	</update>
	
	<select id="mainList" parameterType="map" resultType="BoardListDto">
		SELECT tb.BOARD_NO, tb.TITLE, tb.INSERT_DATE, tb.VIEWS, tu.USER_NAME
        FROM TBOARD tb
        LEFT JOIN TUSER tu ON tb.INSERT_USER_NO = tu.USER_NO
        WHERE tb.CATEGORY_NO = #{categoryNo}
        ORDER BY tb.BOARD_NO DESC
        LIMIT #{size}
	</select>
	
	<select id="countMainList" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM TBOARD tb
        LEFT JOIN TUSER tu ON tb.INSERT_USER_NO = tu.USER_NO
        WHERE tb.CATEGORY_NO = #{categoryno}
    </select>
    
    <delete id="deleteBoardComment" parameterType="int">
	    DELETE FROM TBOARDCOMMENT WHERE COMMENT_NO = #{commentNo}
	</delete>
    
</mapper>